.App {
  text-align: center;
}

.nav1{
  border-radius:0%;
}

.image-icon1{
  width:100px;
  height:40px;
  margin-right:15px;
}

.image4{
  height: 300px;
}

.image-icon2{
  width:30px;
  height:30px;
  margin-right:12px;
}

.img3{
  height:300px;
}

.btn21{
  border-top-right-radius: 20%;
  border-bottom-right-radius: 20%;
  width:50px;
}

.input1{
  width:600px;
  border-width: 2px;
  border-color: black;
}

.form1{
  margin-right:20px;
  margin-left:20px;

}

a:hover {
 color: rgb(7, 7, 7) !important;
}

.product_Desc{
   width: 437px;
    height: 100px;
    position: absolute;
    left: 700px;
    bottom: 310px;
}

.Desc_Image{
  width: 437px;
  height: 359px;
  position: absolute;
  left: 100px;
  bottom: 0px;
}

.ul1 {
  display:flex;
  list-style:none;
  padding: 0px;
  justify-content: space-between;
}

#lblCartCount {
  font-size: 12px;
  background: #ff0000;
  color: #fff;
  padding: 0 5px;
  vertical-align: top;
  margin-left: -10px;
}
.badge {
padding-left: 9px;
padding-right: 9px;
-webkit-border-radius: 9px;
-moz-border-radius: 9px;
border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
background-color: #c67605;
}